/**
Typography
**/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

#colors div:first-child {
    border-radius: 2em 2em 0 0;
}

#colors div:last-child {
    border-radius: 0 0 3em 3em;
}

nav {
    padding: 2.5em 0 1em 0;
    background: #FFF;
}

select,
input,
button {
    font-family: inherit;
    border-radius: 3px;
    border: .5px solid #d4d2d2;
    color: black;
    background: #FFF;
    margin: .3em 0;
    font-weight: inherit;
    height: 3.5em;
}

select {
    width: 230px;
    text-indent: 1em;
}

input {
    width: 4em;
}

button {
    padding: 0 1em;
    cursor: pointer;
}

button:hover {
    background: #d4d2d2;
}

.light {
    color: #FFFFFF;
}

.color-val {
    font-size: 1.5rem;
}

@media (min-width:750px) {
    select {
        margin: 0 2em;
    }

    #colors div:first-child {
        border-radius: 0;
    }

    #colors div:last-child {
        border-radius: 0;
    }

    button {
        padding: 0 2em;
    }

    select {
        padding: 1em 2.5em;
    }

    input {
        height: 3.5em;
    }

    select,
    input,
    button {
        margin: 0 0 0 1em;
    }
    nav {
        padding: 2em 0;
    }
}

/**
Layout
**/


.container {
    width: 80vw;
    margin: 0 auto;
    position: relative;
}

nav {
    width: 100%;
    position: unset;
}

.d-flex {
    display: flex;
}

form.d-flex {
    flex-direction: column;
}

form .d-flex {
    justify-content: space-between;
    margin-bottom: .5em;
}

.colors.d-flex {
    flex-direction: column;
}

.color-panel.d-flex {
    width: 80vw;
    height: 100px;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:750px) {
    form.d-flex {
        flex-direction: row;
        justify-content: right;
    }

    form .d-flex {
        margin-bottom: 0;
    }

    .colors.d-flex {
        flex-direction: row;
        padding: 20vh 0 0 0;
    }

    .color-panel.d-flex {
        margin: -.1em 0;
        width: 20vw;
        height: 80.3vh;
        justify-content: center;
        align-items: center;
    }

    nav {
        position: absolute;
    }

}